*{
    padding: 0;
    margin: 0;
}
div, header, nav, ol, ul, li, main, article,  aside, footer{
    list-style-type: none;
}
table{
    border-collapse: collapse;
    margin: 1em;
    width: 100%;
}

/* CLASS CSS START */
/* HEADER CONTAINER CONTENT CSS START */
.header_container{
    width: 100%;
    float: left;
    height: auto;
    margin: auto;
    position: relative;
    display: block;
}
/* HEADER CONTAINER CONTENT CSS END */

/* MAIN CONTAINER CONTENT CSS START */
.main_container{
    width: 100%;
    float: left;
    height: auto;
    margin: auto;
    position: relative;
    display: block;

}
/* MAIN CONTAINER CONTENT CSS END */

/* FOOTER CONTAINER CONTENT CSS START */
.footer_container{
    width: 100%;
    float: left;
    height: auto;
    margin: auto;
    position: relative;
    display: block;
}
/* FOOTER CONTAINER CONTENT CSS END */
/* CLASS CSS END */